

/*----------- HEADER --------------*/

/*----------- BODY --------------*/



/*----------- NAVIGATION --------------*/    
nav {
    background-color: black;
    color: white;
}

nav ul {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin: 0;
    padding: 0;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
}

nav ul li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #efefef;
    color: black;
}

/*----------- MAIN --------------*/

h1 {
	text-align: center;   
}

table {
    font-family: arial, sans-serif;
    margin-left: 40rem;
    width: 30%;
  }
  
  td, th {
    border: 1px solid #000000;
    background-color: #dddddd;
  }

  img{
    min-width: 400px;
  }
 
/*----------- FOOTER --------------*/
footer {
    font-family: 'Cinzel';
    background-color: gray;
    color: white;
    text-align: center;
    
}

