
/*----------- HEADER --------------*/
header, footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: gray;
    color: white;
    font-size: 15px;
    padding: 0.5%;

}

/*----------- NAVIGATION --------------*/  
nav {
    background-color: black;
    color: white;
}

nav ul {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin: 0;
    padding: 0;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
    align-items: center;
}

nav ul li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #efefef;
    color: black;
}

/*----------- BODY --------------*/

table {
	margin: 40px auto;
	border: thin solid rgb(247, 244, 244);
	box-shadow: 0 0 30px grey;
	border-collapse: collapse;
    width: 5%;
    height: auto;
    text-align: center;
    font-size: 15px;
    color: rgb(9, 54, 94);

}

tbody tr:nth-child(even) {
	background-color: rgb(177, 206, 228);
    color: rgb(22, 41, 94);
}

thead {
    background-color: rgb(2, 58, 104);
    color: rgb(219, 219, 219);
    height: 3rem;
    font-size: 25px;
}

th, td {
	padding: 7px 15px;	
}


tfoot {
    text-align: center;
}

/*----------- FOOTER --------------*/


footer { text-align: center;}