table {
	margin: 40px auto;
	border: thin solid rgb(247, 244, 244);
	box-shadow: 0 0 30px grey;
	border-collapse: collapse;
    width: 5%;
    height: auto;
    text-align: center;
    font-size: 15px;
    color: aliceblue;

}

tbody tr:nth-child(even) {
	background-color: rgb(241, 245, 248);
    color: rgb(22, 41, 94);
}

thead {
    background-color: rgb(2, 58, 104);
    color: rgb(219, 219, 219);
    height: 3rem;
    font-size: 25px;
}

th, td {
	padding: 7px 15px;	
}

body{ background-color: rgb(34, 34, 92);}

tfoot {
    text-align: center;
}