
@media only screen and (min-width: 85em) {
    /* Large Screen 800px */
    
nav {
    display: flex;

}

nav button { display: none}

nav ul { 
    display:flex;
    justify-content: center;
}

nav ul li a {
    border: none;
}

h2 {
	font-size: x-large;   
}
.navigation {
    display: flex;
}
.navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
}
.navigation a {
    text-align: center;
}
.navigation li:first-child {
    display: none;
}

.bodyimg {
    height: 99.9%;    
}
    

/* ----------- LAYOUT GRID HEADER ----------*/
.Header{ display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas:
    "logo btn Face "
    "time time time"
  ;
}



.logoFooter{
    display: flex;
    align-items: center;
    margin-left: 20rem;
}

.address{
    display:flex;
    align-items: center;
    flex-direction: column;
	margin-left: 20rem;
}

.email{
    display:grid;
    align-items: center;
    flex-direction: column;
	margin-left: 10rem;
}


/* Conf Grid*/
.layout {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:

    "Header Header Header"
    "Event Body Spotlight1"
    "Weather Body Spotlight2"
    "Join Release Spotlight3"
    "Footer Footer Footer";
  }
  
  .Join {grid-area: Join;display: grid;}
  .Body {grid-area: Body; display: grid;}
  .Spotlight3{grid-area: Spotlight3; display:grid;}



}