
@media only screen and (min-width: 85em) {
    /* Large Screen 800px */


/*----------- HEADER --------------*/
.Header{ display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas:
    "logo btn Face "
    "time time time"
  ;
}
.joinchamber{
    padding: 3%;
    bottom: 30px;
    right: 50px;
}

/*----------- BODY --------------*/

.bodyimg {
    height: 99.9%;    
}
    

/*----------- NAVIGATION --------------*/    
nav {
    display: flex;

}

nav button { display: none}

nav ul { 
    display:flex;
    justify-content: center;
}

nav ul li a {
    border: none;
}

.navigation {
    display: flex;
}
.navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
}
.navigation a {
    text-align: center;
}
.navigation li:first-child {
    display: none;
}


/*----------- MAIN --------------*/
.bodytxt{
    margin-left: 1rem;
    margin-top: 1rem;
 }
 .joinchamber{
     margin-right: .1rem;
 }
#temperature{
    margin: 0 0 0 5%;
}
#weathericon{
    margin: 0 0 0 30%;
}

.Spotlight section{
    min-height: 200px;
}
.containerDiscovery{
    max-width: 800px;
}

.containerDiscovery img {
    height: 800px;
    width: 800px;    
  }

  

.layout {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:

    "Header Header Header"
    "Event Body Spotlight"
    "Weather Body Spotlight"
    "Join Release Spotlight"
    "Footer Footer Footer";
  }
  
  .Join {grid-area: Join;display: grid;}
  .Body {grid-area: Body; display: grid;}
  .Spotlight3{display:grid;}


 

/*----------- FORM --------------*/


form label.sbs {
    padding: .4rem;
}


/*----------- FOOTER --------------*/
.logoFooter{
    display: flex;
    margin-left: 15rem;
    padding: 1%;
}

.address, .email{
    margin-left: auto;
    margin-right: auto;
    }

}