/* Media Query for medium+ views */
@media only screen and (min-width: 40em) {

nav button {
    display: flex;
    align-content: flex-end;

}
.Header{ display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas:
    "btn logo Face "
    "time time time"
  ;
}
.btn{ margin-left: 1rem;}




/* Conf Grid*/
.layout {  
    grid-template-columns: 1fr 1fr;
    grid-template-areas:

    "Header Header"
    "Release Release"
    "Spotlight1 Spotlight2"
    "Join Join"
    "Event Weather"
    "Footer Footer";

 }

 .Spotlight1, .Spotlight2,.Spotlight3, .Event, .Body,.Release,.Weather,.Join{
    min-height: 300px;

}

 .Join { grid-area: Join;}
 .Body { grid-area: Body; display: none;}
 .Sportlight3 { grid-area: Spotlight3; display: none;}




}