/* Media Query for medium+ views */
@media only screen and (min-width: 40em) {

/*----------- NAVIGATION --------------*/
nav button {
    display: flex;
    align-content: flex-end;

}

/*----------- HEADER --------------*/

.btn{ margin-left: 1rem;}

/*----------- MAIN --------------*/
.bodytxt{
   margin-left: 15rem;
   margin-top: .5rem;
   padding: 2%;
   font-size: 1rem;
}
.joinchamber{
    margin-right: 15rem;
    font-size: 1rem;
    padding: 2%;
}
.layout {  
    grid-template-columns: 1fr 1fr;
    grid-template-areas:

    "Header Header"
    "Body Body"
    "Release Release"
    "Spotlight Spotlight"
    "Join Join"
    "Event Weather"
    "Footer Footer";

 }

.Spotlight,.Event, .Body,.Release,.Weather,.Join{
    min-height: 100px;
}
.Join { grid-area: Join;}
.Sportlight3 {display: none;}
.containerDiscovery{
    max-width: 500px;
}
.containerDiscovery img {
    height: 500px;
    width: 500px;    
}
.containerDiscovery img:hover{
    box-shadow: 0 0 50px rgba(70, 138, 8, 0.795);
}

/*----------- FORM --------------*/
form {
    margin: 1rem 0 2rem 40%;
    max-width:  30rem;
}

form label.top input, form label.top select {
    width: 100%;
}

}