/* Small/Phone View ***************/

/*----------- BODY --------------*/

body {
    font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri;
}

/*----------- HEADER --------------*/

header img, footer img{
    width: 100px;
    height: auto;
}

header, footer {
   font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri;;
   background-color: rgb(238, 241, 236);    
}
.logo {
    padding: 10px;
    
}   

.facelogo {
    width: 30px;
    height: auto;
    border-radius: 25px;
}
.Header{ display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas:
    "btn logo  Face "
    "time time time"
  ;
}

.Header { grid-area: Header;}
.Header {align-items: center;}

.Face { grid-area: Face;}

.btn { grid-area: btn;}

.time { 
    grid-area: time; 
    background-color: rgb(170, 219, 184);
    color: black;
    text-align: center;
    max-width: 95%;
    margin-left: 2%;
}

#banner{
    text-align: center;
}
/*----------- NAVIGATION --------------*/
.active {
    background-color: rgb(38, 173, 214);
    
}
nav {
	margin: 0 auto;
	max-width: 760px;
}
nav ul {
    display: none;
    list-style-type:none;
}
nav ul.open {display: block;}

nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: rgb(52, 117, 98);
}
nav ul li a {
    display: block;
    width: auto;
    padding: .8rem 2vw;
    text-decoration: none;
    color: rgb(24, 71, 22);
    border-top: 1px solid rgba(0,0,0.5);
}

nav ul li a:hover{
    background-color: rgb(160, 194, 162);
}

/*----------- MAIN --------------*/

h2 {
	text-shadow: 0.4rem 0.1rem 0.2rem rgb(22, 60, 3);
    color: aliceblue;
    font-size: 1rem;
    
}

h3 {
	text-shadow: 0.1rem 0.2rem 0.5rem rgb(75, 170, 233);
    text-align: center;
    color: rgb(37, 101, 173);
}

h4{ text-align: center;}

p {
    text-align: center;
    margin-left: 1rem;
    padding: 0.5rem;
}
body {
    background-color: rgb(235, 246, 252);
}
/*----------- TABLE --------------*/
.directory {
    font-family: arial, sans-serif;
    color: #0f309b;
    width: 50%;  
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(214, 219, 214);
    box-shadow: 0px 0px 0px 2px #bfc4bf;
    border-collapse: collapse;
}
th  {
    background-color: rgb(32, 102, 32);
    color: #fdfafa;
}
td, th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 8px;
}
table {
    width: 100%;    
  }

#temperature{
    font-size: 40px;
    margin: 0 0 0 5%;
}
#weathericon{
    float: left;
    margin: 0 0 0 15%;
    background-color: #43a051;
}

.windchill{
    background-color: rgb(64, 146, 92);
    padding: 2%;
    text-align: center;
}
.containerDiscovery{
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    padding: 2%; 
}

.containerDiscovery img {
    display: block;
    object-fit: cover;
    height: 200px;
    width: 200px;
    padding: 1%;
    box-shadow: 0 0 10px rgba(11, 15, 228, 0.795);
  }

figure {
    color: rgb(3, 3, 199);   
}
.LayoutContact{  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "Email"
    "Address"
    ;
  }
  
.Email {grid-area: Email;display: grid;}
.Address {grid-area: Address; display: grid;}

.Email, .Address {
    background-color: rgb(232, 241, 216);
    min-width: 200px;
    
}
.Email form {
    margin: 3rem auto auto;
}
.Address section {
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.Address section h3 {
    text-align: left;
    margin-left: 2rem;
}

.Address section p{
    text-align: left;
    margin-left: 1.5rem;
}

.Address section img {
    margin-top: 2rem;
    box-shadow: 0 0 10px rgba(11, 15, 228, 0.795);
}

.layout {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:

    "Header"
    "Body"
    "Event"
    "Weather"
    "Release"
    "Spotlight"
    "Spotlight"
    "Footer";
  }

.Footer { grid-area: Footer; }
.Body { grid-area: Body;}
.Join { grid-area: Join; display: none;}
.Event { grid-area: Event; text-align: center;}
.Weather { grid-area: Weather;}
.Release{ grid-area: Release; }
.Spotlight{ grid-area: Spotlight;}

.Spotlight,.Event, .Body,.Release,.Weather,.Join{
    background-color: rgb(232, 241, 216);
    min-width: 200px;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px #2b742bb0;
}

.Spotlight1,.Spotlight2,.Spotlight3{
    margin: 1% 1% 2% 1%;
    min-width: 200px;
    box-shadow: 0px 0px 0px 2px #ffffff;
    padding: 1rem;
}

.Spotlight1 section img,.Spotlight2 section img, .Spotlight3 section img  {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 50%;
}

.Spotlight3{
    display: none;
}


  
section a{
    border-radius: 1em 1em;
    background-color: rgb(16, 57, 140);
    color: white;
    padding: 5%;
    width: 50%;
    text-align: center;
    font-size: 1rem;
    display: block;
    margin: 3rem auto auto;
}


.Body{
    position: relative;
}
.bodytxt, .joinchamber{
    padding: 3%;
    color: #ffffff;
    font-size: .8rem;
    background-color:rgb(37, 84, 212);
    box-shadow: 0px 0px 5px 1px #ffffff;
    text-align: center;
    position: absolute; 

}
.joinchamber{
    bottom: 1rem;
    right: 1rem;
    border-radius: 1em 1em;
}
.bodyimg {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
#speed, #chill{
    margin-left: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wind, .chill{
    text-shadow: 0.1rem 0.1rem 0.1rem  rgb(28, 123, 187);
    color: rgb(245, 247, 250); 
}

/*----------- FORM --------------*/
form {
    max-width:  20rem;
    margin: 1rem 0 2rem 1%;
    color: #136a9c; 
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #131e9c;
    font-size:  .9rem;
}
form label.top input, form label.top select {
    display: block;
    font-size: 0.7rem;
    color: #555;
    width: 90%;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .8rem;
    max-width:  20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
    font-size: 0.9rem;
}

form input.submitBtn{
    border: none;
    background-color: #136a9c;
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 1rem auto 2rem auto;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required{
    border-left: red solid 6px;
}

form label.top input:required:valid{
    border-left: green solid 6px;
}
  
/*----------- FOOTER --------------*/

footer {
    font-size: 0.8rem;
    text-align: center;  
  }


