/* Small/Phone View ***************/

/*----------- BODY --------------*/

body {
    font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri;
}

/*----------- HEADER --------------*/

header img, footer img{
    width: 100px;
    height: auto;
}

header, footer {
   font-family: Arial, Helvetica, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri;;
   background-color: rgb(238, 241, 236);    
}
.logo {
    padding: 10px;
    
}   

.facelogo {
    width: 30px;
    height: auto;
    border-radius: 25px;
}
.Header{ display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 1fr;
    grid-template-areas:
    "btn logo  Face "
    "time time time"
  ;
}

.Header { grid-area: Header;}
.Header {align-items: center;}

.Face { grid-area: Face;}

.btn { grid-area: btn;}

.time { 
    grid-area: time; 
    background-color: rgb(170, 219, 184);
    color: black;
    text-align: center;
    max-width: 95%;
    margin-left: 2%;
}

#banner{
    text-align: center;
}
/*----------- NAVIGATION --------------*/
.active {
    background-color: rgb(38, 173, 214);
    
}
nav {
	margin: 0 auto;
	max-width: 760px;
}
nav ul {
    display: none;
    list-style-type:none;
}
nav ul.open {display: block;}

nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: rgb(52, 117, 98);
}
nav ul li a {
    display: block;
    width: auto;
    padding: .8rem 2vw;
    text-decoration: none;
    color: rgb(24, 71, 22);
    border-top: 1px solid rgba(0,0,0.5);
}

nav ul li a:hover{
    background-color: rgb(160, 194, 162);
}

/*----------- MAIN --------------*/

h2 {
	text-shadow: 0.4rem 0.1rem 0.2rem rgb(22, 60, 3);
    color: aliceblue;
}

h3 {
	text-shadow: 0.1rem 0.2rem 0.5rem rgb(75, 170, 233);
    text-align: center;
    color: rgb(37, 101, 173);
}

h4{ text-align: center;}

p {
    text-align: center;
    margin-left: 1rem;
    padding: 0.5rem;
}
body {
    background-color: rgb(235, 246, 252);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  td {
    text-align: center;
    padding: 8px;
  }
  th {
    border: 1px solid #dddddd;
    background-color: rgb(172, 196, 240);
    padding: 8px;
  }
#weathertxt{
    font-size: 40px;
    margin-left: 1rem;
}
.weatherimg{
    float: left;
    margin: 0 0 0 35%;
}

.windchill{
    background-color: rgb(64, 146, 92);
    padding: 2%;
    text-align: center;
}
.containerDiscovery{
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    padding: 2%; 
}

.containerDiscovery img {
    display: block;
    object-fit: cover;
    height: 200px;
    width: 200px;
    padding: 1%;
    box-shadow: 0 0 10px rgba(11, 15, 228, 0.795);
    
  }
 
.layout {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:

    "Header"
    "Body"
    "Event"
    "Weather"
    "Release"
    "Spotlight"
    "Spotlight"
    "Footer";
  }

.Footer { grid-area: Footer; }
.Body { grid-area: Body;}
.Join { grid-area: Join; display: none;}
.Event { grid-area: Event; text-align: center;}
.Weather { grid-area: Weather;}
.Release{ grid-area: Release; }
.Spotlight{ grid-area: Spotlight;}

.Spotlight,.Event, .Body,.Release,.Weather,.Join{
    background-color: rgb(232, 241, 216);
    min-width: 200px;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px #2b742bb0;
}

.Spotlight1,.Spotlight2,.Spotlight3{
    margin: 1% 1% 2% 1%;
    min-width: 200px;
    box-shadow: 0px 0px 0px 2px #ffffff;
    padding: 1rem;
}
.Spotlight3{
    display: none;
}
  
.spotimg1 , .spotimg2 , .spotimg3{
    float: left;
    margin-left: 20px;
    height: auto;
}
.joinbtn{
    border-radius: 1em 1em;
    background-color: rgb(16, 57, 140);
    color: white;
    padding: 16px 150px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
.Body{
    position: relative;
}
.bodytxt{
    position: absolute;
    margin-left: 10px;
    margin-right: auto       
}
.bodyimg {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
.joinchamber{
    position: absolute;
    background-color: green;
    padding: 3%;
    color: #ffffff;
    border-radius: 1em 1em;
    bottom: 50px;
    right: 50px;
    box-shadow: 0px 0px 5px 1px #ffffff;
}
#speed, #chill{
    margin-left: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wind, .chill{
    
    text-shadow: 0.1rem 0.1rem 0.1rem  rgb(28, 123, 187);
    color: rgb(245, 247, 250);
    
}
/*----------- FOOTER --------------*/
.Footer {
    text-align: center;
}


