
/* Grid*/

.layout {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header"
    "sideA"
    "sideB"
    "sideC" 
    "footer"
;
}

.sideA{grid-area:sideA;}
.sideC{grid-area:sideC;}
.footer{grid-area:footer;}
.sideB{grid-area:sideB;}
.header{grid-area:header;}

.sideA, .sideB, .sideC{
    min-height: 200px;
    font-size: 26px;
    background-color: rgb(68, 108, 108);    
}

.header, .footer{
    min-height: 50px;
    font-size: 26px;
    background-color: gray;    
}

