
@media only screen and (min-width: 600px ) {
    

/* Grid*/

.layout {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header header"
    "sideA sideB"
    "sideC sideC" 
    "footer footer"
;
}

.sideA{grid-area:sideA;}
.sideC{grid-area:sideC;}
.footer{grid-area:footer;}
.sideB{grid-area:sideB;}
.header{grid-area:header;}

.sideA, .sideB, .sideC{
    min-height: 200px;
    font-size: 26px;
    background-color: rgb(176, 255, 255);    
}

.header, .footer{
    min-height: 50px;
    font-size: 26px;
    background-color: gray;    
}

}