/* medium media query*/
@media only screen and (min-width: 32.5em){
    
header{
    display: flex;
    color: white;
    font-size: 30px;
    }
  
footer{
    display: grid;
    font-size: 15px;
    text-align: center;
}

ul li, h2 {
    text-align: left;
    margin-left: 30%;;
}

.linklist ul li {
    display: block;
}

}