/* medium media query*/
@media only screen and (min-width: 32.5em){
    
header{
    display: flex;
    color: white;
    font-size: 30px;
    }
  
footer{
    display: grid;
    font-size: 20px;
    text-align: center;
}

.linklist ul li {
    display: block;
}

}