/* HTML Selectors */

/*----------- HEADER --------------*/

header{
    display: grid;
    font-size: 20px;
}
header img {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 3px;
    width: 150px;   
}

ul li, h2 {
    text-align: left;
    margin-left: 1%;;
}
/*----------- BODY --------------*/

body {
    font-family: 'Inconsolata', cursive;
}

div {
    margin: 10px;
    text-align: center;
}

header, footer {
    font-family: 'Cinzel';
    background-color: gray;
    color: white;
    text-align: center;   
}

/*----------- NAVIGATION --------------*/    
nav {
    background-color: black;
    color: white;
}

nav ul {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin: 0;
    padding: 0;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
    align-items: center;
}

nav ul li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #efefef;
    color: black;
}

/*----------- MAIN --------------*/ 
label {
    display: inline-block;
    min-width: 120px;
    text-align: right;
}

main {
    text-align: center;
}

section {
    flex-direction: column;
    align-items: center;
}


/* Class Selectors */
.active {
    background-color: white;
    color: black;
}

.open li {
    display: block;
}

.linklist ul li {
    display: flex;
    
}

/*----------- FOOTER --------------*/ 
footer{
    font-size: 8px;
    
}
